.container{
    margin-top: 3%;
    margin-bottom: 3%;
}

.card {
    margin: 2%;
    width: 5rem;
    height: 20rem;
    background-color: transparent;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card img:hover{
    animation: scale 2s ease-in-out;
    
}

@keyframes scale{
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}